# --- Default: Erstmal alles ignorieren (außer Verzeichnisse + Git(hub) + Lizenz)
*
!*/
!/.gitignore
!/.gitattributes
!/.github/**
!/LICENSE
!/NOTICE

# --- bash-Scripte
!**/*.sh

# --- Markdown
!**/*.md
